if SHIELD_THEWOLFKB50_LEFT

config ZMK_KEYBOARD_NAME
    default "thewolfkb50"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_THEWOLFKB50_LEFT || SHIELD_THEWOLFKB50_RIGHT

config ZMK_SPLIT
    default y

endif
